p{
    font-family: 'monteserrat', sans-serif;
    font-size: 18px;
    background-color: rgba(16, 87, 175, 0.759);
    color: white;
    text-align: center;
    line-height: 25px;
    text-align: justify;
    border-radius: 40px;
    padding: 20px;
    margin: 20px;
}

h1{
    font-family: 'Aesthetic';
    font-size: 25px;
    text-align: center;
    color: darkblue;
}