/* Efeito Cascata */
.container-cascata{
    background-color: violet;
}

.container-cascata{
    background-color: lightblue;
}

/* Especificidade */
.container-especificidade p{
    background-color: lightgreen;
}